html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

ul li {
  list-style: none;
}

main {
  text-align: center;
  overflow: hidden;
}

.main__divider {
  z-index: 15;
  background-color: #54a0fe;
  height: 0.8vh;
  width: 25vh;
  margin: 8vh auto;
}

.landing__bg {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing__bg--opacity {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: #000365;
  background-image: linear-gradient(#000365, #006ffc);
  opacity: 0.6;
}

.landing__video {
  top: 0;
  z-index: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 400px) {
  .landing__video {
    height: 120vh;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .landing__video {
    height: 120vh;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .landing__video {
    height: 120vh;
  }
}
@media only screen and (min-width: 1200px) {
  .landing__video {
    height: 60vw;
  }
}

.landing__video:after {
  content: "";
  display: block;
  width: 100%;
}

.about {
  text-align: center;
  color: #333333;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.about:after {
  content: " ";
  display: block;
  clear: both;
}

.about__skills--type1 {
  font-weight: 100;
}

.about__skills--type2 {
  font-weight: 100;
}

.about__column {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .about__skills--type1 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
  .about__skills--type1 .about__column--type1 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__skills--type2 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
  .about__skills--type2 .about__column--type2 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.skills__icon {
  margin-bottom: 20px;
}
@media only screen and (max-width: 400px) {
  .skills__icon {
    height: 150px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .skills__icon {
    height: 150px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .skills__icon {
    height: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills__icon {
    height: 70px;
  }
}

.team {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.team:after {
  content: " ";
  display: block;
  clear: both;
}

.owl-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}

.team__all {
  margin: 0;
}

.team__member--image {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 1200px) {
  .team__member--image {
    padding: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .item {
    width: 340px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .item {
    width: 340px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .item {
    width: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .item {
    width: 400px;
  }
}

.pricing {
  text-align: center;
  background-color: #045dcd;
}

.pricing__bg {
  background-color: #daebf9;
  height: 200px;
  width: 100%;
  margin-top: 200px;
  position: absolute;
  z-index: 7;
}

.pricing__column {
  padding-left: 0;
  padding-right: 0;
}

.wrapper__inner {
  position: relative;
  z-index: 10;
  display: inline-block;
  background-color: white;
  height: 450px;
  width: 400px;
}

.wrapper__divider--horizontal {
  z-index: 15;
  background-color: #333333;
  height: 0.05vh;
  opacity: .5;
  width: 10vw;
  margin: 2vh auto;
}

.wrapper__divider--vertical {
  z-index: 15;
  background-color: #333333;
  height: 40vh;
  opacity: .5;
  width: 0.05vw;
  margin: 0 0;
}

@media (min-width: 1200px) {
  .pricing__wrapper {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .pricing__wrapper .pricing__column {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
.join-us {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.join-us:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 1200px) {
  .article__main {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-right: 5.41667%;
  }

  .article__aside {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 5.41667%;
  }
}
.fa {
  margin-left: 50px;
}

.landing__nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  padding: 2em 1em;
  text-transform: capitalize;
  text-align: center;
  width: 95vw;
}

.landing__nav--link {
  text-decoration: none;
  list-style: none;
  color: #f5f6fa;
}

.landing__nav--logo {
  margin-top: 1.7vh;
  margin-left: 3vw;
  z-index: 10;
  font-family: "Gotham-Bold";
  float: left;
  left: 3vw;
  color: #f5f6fa;
}
@media only screen and (max-width: 400px) {
  .landing__nav--logo {
    font-size: 64px;
    position: fixed;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .landing__nav--logo {
    font-size: 64px;
    position: fixed;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .landing__nav--logo {
    font-size: 64px;
    position: fixed;
  }
}
@media only screen and (min-width: 1200px) {
  .landing__nav--logo {
    font-size: 64px;
    position: absolute;
  }
}

.nav__wrapper {
  top: 0;
  right: 0;
  float: right;
  transition: all 350ms ease-out;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper {
    position: fixed;
    width: 100vw;
    margin: 100px 0 0 0;
    background-color: #09182d;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .nav__wrapper {
    position: fixed;
    width: 100vw;
    margin: 100px 0 0 0;
    background-color: #09182d;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .nav__wrapper {
    position: fixed;
    width: 100vw;
    margin: 100px 0 0 0;
    background-color: #09182d;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__wrapper {
    position: absolute;
  }
}

.nav__wrapper--list {
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 2px;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper--list {
    padding: 40vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .nav__wrapper--list {
    padding: 40vw;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .nav__wrapper--list {
    padding: 40vw;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__wrapper--list {
    padding: 2vw;
  }
}

.nav__wrapper--list-item {
  float: left;
  display: block;
}

.nav__wrapper--list-item:last-of-type a {
  border-radius: 20px;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper--list-item:last-of-type a {
    font-size: 36px;
    color: #f5a623;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .nav__wrapper--list-item:last-of-type a {
    font-size: 36px;
    color: #f5a623;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .nav__wrapper--list-item:last-of-type a {
    font-size: 36px;
    color: #f5a623;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__wrapper--list-item:last-of-type a {
    font-size: 14px;
    border: solid 1px white;
    padding: 10px;
  }
}
.nav__wrapper--list-item:last-of-type a:hover {
  border: #f5a623 solid 1px;
  color: #f5a623;
}

.nav__wrapper--link {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  padding: 1.5vh 0;
  color: #f5f6fa;
  text-decoration: none;
  margin-right: 1.5vw;
  font-family: "Gotham-Book";
  font-weight: 600;
  float: left;
  text-transform: uppercase;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper--link {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .nav__wrapper--link {
    font-size: 36px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .nav__wrapper--link {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__wrapper--link {
    font-size: 16px;
  }
}
.nav__wrapper--link:hover {
  border-bottom: #f5f6fa solid 1px;
  border-radius: 0;
}

.icona {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 1200px;
  padding: 70px 0 70px 1100px;
  background-color: #323d88;
}

.ico {
  background: transparent;
  width: 45px;
  height: 45px;
}

#menu {
  position: relative;
}

#ico1 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  transition: transform .3s;
}

#ico2 {
  display: block;
  background: #fff;
  width: 40px;
  height: 4px;
  margin-top: 8px;
}

#ico3 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  margin-top: 8px;
  transition: transform .3s;
}

.act {
  transform: rotate(225deg);
  position: relative;
  top: 25px;
  left: -15px;
}

.act2 {
  visibility: hidden;
}

.act3 {
  transform: rotate(-225deg);
  position: relative;
  top: 0;
  right: 15px;
}

@media screen and (max-width: 1200px) {
  .nav__wrapper--list {
    display: none;
    padding-top: 38px;
  }

  .nav__wrapper--list-item {
    float: none;
  }

  .icona {
    display: block;
  }

  .nav__wrapper--list.responsive {
    display: block;
  }
}
@media (min-width: 1200px) {
  .about__skills--type1 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
  .about__skills--type1 .about__column--type1 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__skills--type2 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
  .about__skills--type2 .about__column--type2 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 1200px) {
  .pricing__wrapper {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .pricing__wrapper .pricing__column {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.otf") format("opentype");
}
.landing__text {
  font-family: "Gotham-Book";
  font-weight: 100;
  position: absolute;
  z-index: 4;
  color: #f5f6fa;
}

@media only screen and (max-width: 400px) {
  .landing__text--title {
    margin: 39vh 17vw;
    font-size: 100px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .landing__text--title {
    margin: 39vh 17vw;
    font-size: 100px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .landing__text--title {
    margin: 39vh 17vw;
    font-size: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing__text--title {
    margin: 39vh 31vw;
    font-size: 72px;
  }
}

.landing__text--subtitle {
  opacity: .8;
}
@media only screen and (max-width: 400px) {
  .landing__text--subtitle {
    margin: 48vh 8vw;
    font-size: 42px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .landing__text--subtitle {
    margin: 48vh 8vw;
    font-size: 42px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .landing__text--subtitle {
    margin: 48vh 8vw;
    font-size: 42px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing__text--subtitle {
    margin: 55vh 27vw;
    font-size: 28px;
  }
}

.about__title, .team__title, .join-us__title {
  font-family: "Gotham-Bold";
}
@media only screen and (max-width: 400px) {
  .about__title, .team__title, .join-us__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .about__title, .team__title, .join-us__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .about__title, .team__title, .join-us__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__title, .team__title, .join-us__title {
    font-size: 64px;
  }
}

.about__subtitle, .team__subtitle, .join-us__subtitle {
  font-family: "Gotham-Book";
  opacity: .5;
  padding-bottom: 20px;
}
@media only screen and (max-width: 400px) {
  .about__subtitle, .team__subtitle, .join-us__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .about__subtitle, .team__subtitle, .join-us__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .about__subtitle, .team__subtitle, .join-us__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__subtitle, .team__subtitle, .join-us__subtitle {
    font-size: 24px;
  }
}

.skills__title {
  font-family: "Gotham-Book";
  font-weight: 100;
  color: #333333;
  width: 100%;
  line-height: 1.2;
}
@media only screen and (max-width: 400px) {
  .skills__title {
    font-size: 54px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .skills__title {
    font-size: 54px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .skills__title {
    font-size: 54px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills__title {
    font-size: 34px;
  }
}

.skills__description {
  font-family: "Gotham-Book";
  margin: 10px;
  line-height: 1.48;
  color: #8f8f8f;
}
@media only screen and (max-width: 400px) {
  .skills__description {
    font-size: 14px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .skills__description {
    font-size: 14px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .skills__description {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills__description {
    font-size: 16px;
  }
}

.pricing__title {
  font-family: "Gotham-Book";
  padding: 20px;
  color: #f5f6fa;
}
@media only screen and (max-width: 400px) {
  .pricing__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .pricing__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .pricing__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .pricing__title {
    font-size: 64px;
  }
}

.pricing__subtitle {
  font-family: "Gotham-Book";
  padding-bottom: 20px;
  font-weight: 100;
  opacity: .8;
  color: #f5f6fa;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 400px) {
  .pricing__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .pricing__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .pricing__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .pricing__subtitle {
    font-size: 24px;
  }
}
.pricing__subtitle:after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper__text {
  margin-top: 50px;
  font-family: "Gotham-Book";
  color: #333333;
}

.wrapper__text--header {
  text-transform: uppercase;
}

.wrapper__text--subtitle {
  padding: 0 75px;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-size: 16px;
}

.wrapper__text--price {
  color: #045dcd;
  font-size: 40px;
  font-weight: 100;
}

.article__title {
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 50px;
}
@media only screen and (max-width: 400px) {
  .article__title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .article__title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .article__title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 1200px) {
  .article__title {
    font-size: 28px;
  }
}

.article__text {
  font-family: "Gotham-Book";
  font-weight: 100;
  color: #333333;
  width: 100%;
  line-height: 1.2;
  text-align: left;
}

.article__text--big {
  font-size: 20px;
  opacity: 0.5;
  padding-bottom: 30px;
}

.article__list {
  padding: 0;
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .article__list {
    margin-top: 350px;
  }
}

.article__list--item {
  margin: 0;
  display: block;
  margin-top: 50px;
}

.item__title {
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #045dcd;
  font-weight: bold;
  cursor: pointer;
}
.item__title:hover {
  text-decoration: underline;
}

.item__description {
  opacity: 0.5;
  font-size: 14px;
}

.video__controls {
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  width: 35vh;
}
@media only screen and (max-width: 400px) {
  .video__controls {
    top: 130vw;
    left: 17vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .video__controls {
    top: 130vw;
    left: 17vw;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .video__controls {
    top: 130vw;
    left: 17vw;
  }
}
@media only screen and (min-width: 1200px) {
  .video__controls {
    top: 35vw;
    left: 41vw;
  }
}

.video__controls--button, .article__button {
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  letter-spacing: 0.4vh;
  padding: 2.5vh 3.5vh;
}
@media only screen and (max-width: 400px) {
  .video__controls--button, .article__button {
    border-radius: 80px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .video__controls--button, .article__button {
    border-radius: 80px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .video__controls--button, .article__button {
    border-radius: 80px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .video__controls--button, .article__button {
    border-radius: 50px;
    font-size: 16px;
  }
}

.button__navy {
  border: none;
  background-color: #11294b;
  color: #f5f6fa;
  cursor: pointer;
}
.button__navy:hover {
  background-color: #09182d;
  transition: 0.2s;
}

.button__white {
  background-color: transparent;
  color: #045dcd;
  cursor: pointer;
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .button__white {
    border: solid 4px #daebf9;
  }
}
@media only screen and (min-width: 1200px) {
  .button__white {
    border: solid 1px #daebf9;
  }
}
.button__white:hover {
  background-color: #daebf9;
  transition: 0.2s;
}

.button__white--position {
  position: relative;
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .button__white--position {
    top: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .button__white--position {
    float: left;
    top: 50px;
  }
}

@media only screen and (max-width: 400px) {
  .video__controls--play {
    height: 2.5vh;
    padding-right: 14px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .video__controls--play {
    height: 2.5vh;
    padding-right: 14px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .video__controls--play {
    height: 2.5vh;
    padding-right: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .video__controls--play {
    padding-right: 14px;
  }
}

/*
.video__controls--button::before {
    content: url('img/icons/play_icon.svg');
}  */
#button__scrolly {
  cursor: pointer;
  z-index: 10;
  top: 90vh;
  position: absolute;
  background-color: transparent;
  border: none;
}
@media only screen and (max-width: 400px) {
  #button__scrolly {
    left: 45vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  #button__scrolly {
    left: 45vw;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  #button__scrolly {
    left: 45vw;
  }
}
@media only screen and (min-width: 1200px) {
  #button__scrolly {
    left: 48vw;
  }
}

@media only screen and (max-width: 400px) {
  .landing__bg--scroll {
    height: 60px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .landing__bg--scroll {
    height: 60px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .landing__bg--scroll {
    height: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing__bg--scroll {
    height: 30px;
  }
}
