.landing__bg--opacity {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: #000365;
  background-image: linear-gradient(#000365, #006ffc);
  opacity: 0.8;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.otf") format("opentype");
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

ul li {
  list-style: none;
}

main {
  text-align: center;
  overflow: hidden;
}

.main__divider {
  z-index: 15;
  background-color: #54a0fe;
  height: 0.8vh;
  width: 25vh;
  margin: 8vh auto;
}

.landing__bg {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing__video {
  top: 0;
  z-index: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 400px) {
  .landing__video {
    height: 80vh;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .landing__video {
    height: 120vh;
  }
}
@media only screen and (min-width: 1024px) {
  .landing__video {
    height: 120vh;
  }
}

.landing__video:after {
  content: "";
  display: block;
  width: 100%;
}

.about {
  text-align: center;
  color: #333333;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.about:after {
  content: " ";
  display: block;
  clear: both;
}

.about__skills--type1 {
  font-weight: 100;
}

.about__skills--type2 {
  font-weight: 100;
}

.about__column--type1 {
  text-align: center;
}

.about__column--type2 {
  text-align: center;
}

.skills__icon {
  margin-bottom: 20px;
}

.team {
  text-align: center;
}

.owl-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}

.team__all {
  margin: 0;
}

.team__member {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .item {
    width: 340px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .item {
    width: 340px;
  }
}
@media only screen and (min-width: 1024px) {
  .item {
    width: 400px;
  }
}

.pricing {
  text-align: center;
  background-color: #045dcd;
  height: 400px;
}

.pricing__wrapper {
  z-index: 5;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 3em;
}

.pricing__wrapper--column {
  width: 40%;
  display: inline-block;
}

.wrapper__inner {
  z-index: 10;
  display: inline-block;
  width: 102%;
  height: 500px;
  background-color: white;
  box-shadow: 10px -10px 10px 10px rgba(68, 68, 68, 0.1);
}

.landing__nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  padding: 2em 1em;
  text-transform: capitalize;
  text-align: center;
  width: 95vw;
}

.landing__nav--link {
  text-decoration: none;
  list-style: none;
  color: #f5f6fa;
}

.landing__nav--logo {
  margin-top: 1.7vh;
  margin-left: 3vw;
  z-index: 10;
  font-family: "Gotham-Bold";
  float: left;
  left: 3vw;
  color: #f5f6fa;
}
@media only screen and (max-width: 400px) {
  .landing__nav--logo {
    font-size: 64px;
    position: fixed;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .landing__nav--logo {
    font-size: 64px;
    position: fixed;
  }
}
@media only screen and (min-width: 1024px) {
  .landing__nav--logo {
    font-size: 64px;
    position: absolute;
  }
}

.nav__wrapper {
  top: 0;
  right: 0;
  float: right;
  transition: all 350ms ease-out;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper {
    position: fixed;
    width: 100vw;
    margin: 100px 0 0 0;
    background-color: #333333;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .nav__wrapper {
    position: fixed;
    width: 100vw;
    margin: 100px 0 0 0;
    background-color: #333333;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__wrapper {
    position: absolute;
  }
}

.nav__wrapper--list {
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 2px;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper--list {
    padding: 40vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .nav__wrapper--list {
    padding: 40vw;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__wrapper--list {
    padding: 2vw;
  }
}

.nav__wrapper--list-item {
  float: left;
  display: block;
}

.nav__wrapper--list-item:last-of-type a {
  border-radius: 20px;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper--list-item:last-of-type a {
    font-size: 36px;
    color: #f5a623;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .nav__wrapper--list-item:last-of-type a {
    font-size: 36px;
    color: #f5a623;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__wrapper--list-item:last-of-type a {
    font-size: 14px;
    border: solid 1px white;
    padding: 10px;
  }
}
.nav__wrapper--list-item:last-of-type a:hover {
  border: #f5a623 solid 1px;
  color: #f5a623;
}

.nav__wrapper--link {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  padding: 1.5vh 0;
  color: #f5f6fa;
  text-decoration: none;
  margin-right: 1.5vw;
  font-family: "Gotham-Book";
  font-weight: 600;
  float: left;
}
@media only screen and (max-width: 400px) {
  .nav__wrapper--link {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .nav__wrapper--link {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__wrapper--link {
    font-size: 16px;
  }
}
.nav__wrapper--link:hover {
  border-bottom: #f5f6fa solid 1px;
  border-radius: 0;
}

.icona {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 1200px;
  padding: 70px 0 70px 1100px;
  background-color: #323d88;
}

.ico {
  background: transparent;
  width: 45px;
  height: 45px;
}

#menu {
  position: relative;
}

#ico1 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  transition: transform .3s;
}

#ico2 {
  display: block;
  background: #fff;
  width: 40px;
  height: 4px;
  margin-top: 8px;
}

#ico3 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  margin-top: 8px;
  transition: transform .3s;
}

.act {
  transform: rotate(225deg);
  position: relative;
  top: 25px;
  left: -15px;
}

.act2 {
  visibility: hidden;
}

.act3 {
  transform: rotate(-225deg);
  position: relative;
  top: 0;
  right: 15px;
}

@media screen and (max-width: 1200px) {
  .nav__wrapper--list {
    display: none;
    padding-top: 38px;
  }

  .nav__wrapper--list-item {
    float: none;
  }

  .icona {
    display: block;
  }

  .nav__wrapper--list.responsive {
    display: block;
  }
}
@media (min-width: 1200px) {
  .about__column--type1 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 45px;
    padding-right: 45px;
  }

  .about__column--type2 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 960px) {
  .about__column--type1 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 45px;
    padding-right: 45px;
  }

  .about__column--type2 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-left: 45px;
    padding-right: 45px;
  }
}
.landing__text {
  font-family: "Gotham-Book";
  font-weight: 100;
  position: absolute;
  z-index: 4;
  color: #f5f6fa;
}

@media only screen and (max-width: 400px) {
  .landing__text--title {
    margin: 39vh 17vw;
    font-size: 100px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .landing__text--title {
    margin: 39vh 17vw;
    font-size: 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .landing__text--title {
    margin: 39vh 31vw;
    font-size: 72px;
  }
}

.landing__text--subtitle {
  opacity: .8;
}
@media only screen and (max-width: 400px) {
  .landing__text--subtitle {
    margin: 48vh 8vw;
    font-size: 42px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .landing__text--subtitle {
    margin: 48vh 8vw;
    font-size: 42px;
  }
}
@media only screen and (min-width: 1024px) {
  .landing__text--subtitle {
    margin: 55vh 27vw;
    font-size: 28px;
  }
}

.about__title {
  font-family: "Gotham-Bold";
}
@media only screen and (max-width: 400px) {
  .about__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .about__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  .about__title {
    font-size: 64px;
  }
}

.about__subtitle {
  font-family: "Gotham-Book";
  opacity: .45;
  padding-bottom: 20px;
}
@media only screen and (max-width: 400px) {
  .about__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .about__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .about__subtitle {
    font-size: 24px;
  }
}

.skills__title {
  font-family: "Gotham-Book";
  font-weight: 100;
  color: #333333;
  width: 100%;
  line-height: 1.2;
}
@media only screen and (max-width: 400px) {
  .skills__title {
    font-size: 54px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .skills__title {
    font-size: 54px;
  }
}
@media only screen and (min-width: 1024px) {
  .skills__title {
    font-size: 36px;
  }
}

.skills__description {
  font-family: "Gotham-Book";
  margin: 10px;
  line-height: 1.48;
  color: #8f8f8f;
}
@media only screen and (max-width: 400px) {
  .skills__description {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .skills__description {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .skills__description {
    font-size: 16px;
  }
}

.team__title {
  font-family: "Gotham-Book";
  padding: 20px;
}
@media only screen and (max-width: 400px) {
  .team__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .team__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  .team__title {
    font-size: 64px;
  }
}

.team__subtitle {
  font-family: "Gotham-Book";
  padding-bottom: 20px;
  font-weight: 100;
  opacity: .8;
}
@media only screen and (max-width: 400px) {
  .team__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .team__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .team__subtitle {
    font-size: 24px;
  }
}

.pricing__title {
  font-family: "Gotham-Book";
  padding: 20px;
  color: #f5f6fa;
}
@media only screen and (max-width: 400px) {
  .pricing__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .pricing__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  .pricing__title {
    font-size: 64px;
  }
}

.pricing__subtitle {
  font-family: "Gotham-Book";
  padding-bottom: 20px;
  font-weight: 100;
  opacity: .8;
  color: #f5f6fa;
}
@media only screen and (max-width: 400px) {
  .pricing__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .pricing__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .pricing__subtitle {
    font-size: 24px;
  }
}

.wrapper__text {
  margin-top: 50px;
  font-family: "Gotham-Book";
  color: #333333;
}

.wrapper__text--header {
  text-transform: uppercase;
}

.wrapper__text--subtitle {
  padding: 0 75px;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-size: 16px;
}

.wrapper__text--price {
  color: #045dcd;
  font-size: 40px;
  font-weight: 100;
}

.video__controls {
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  width: 40vh;
}
@media only screen and (max-width: 400px) {
  .video__controls {
    top: 130vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .video__controls {
    top: 130vw;
  }
}
@media only screen and (min-width: 1024px) {
  .video__controls {
    top: 35vw;
  }
}
@media only screen and (max-width: 400px) {
  .video__controls {
    left: 14vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .video__controls {
    left: 14vw;
  }
}
@media only screen and (min-width: 1024px) {
  .video__controls {
    left: 39.5vw;
  }
}

.video__controls--button {
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  font-size: 2.5vh;
  letter-spacing: 0.4vh;
  padding: 3vh;
  border: none;
  background-color: #11294b;
  color: #f5f6fa;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  .video__controls--button {
    border-radius: 80px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .video__controls--button {
    border-radius: 80px;
  }
}
@media only screen and (min-width: 1024px) {
  .video__controls--button {
    border-radius: 50px;
  }
}
.video__controls--button:hover {
  background-color: #09182d;
  transition: 0.2s;
  border: 1px solid #f5f6fa;
}

@media only screen and (max-width: 400px) {
  .video__controls--play {
    height: 2.5vh;
    padding-right: 14px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .video__controls--play {
    height: 2.5vh;
    padding-right: 14px;
  }
}
@media only screen and (min-width: 1024px) {
  .video__controls--play {
    padding-right: 14px;
  }
}

/*
.video__controls--button::before {
    content: url('img/icons/play_icon.svg');
}  */
#button__scrolly {
  cursor: pointer;
  z-index: 10;
  top: 88vh;
  position: absolute;
  background-color: transparent;
  border: none;
}
@media only screen and (max-width: 400px) {
  #button__scrolly {
    left: 44vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  #button__scrolly {
    left: 44vw;
  }
}
@media only screen and (min-width: 1024px) {
  #button__scrolly {
    left: 47.5vw;
  }
}

@media only screen and (max-width: 400px) {
  .landing__bg--scroll {
    height: 100px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .landing__bg--scroll {
    height: 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .landing__bg--scroll {
    height: 50px;
  }
}
