html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

ul li {
  list-style: none;
}

main {
  text-align: center;
  overflow: hidden;
}

.main__divider {
  z-index: 15;
  background-color: #54a0fe;
  height: 0.8vh;
  width: 25vh;
  margin: 8vh auto;
}

.section {
  text-align: center;
  color: #333333;
}

.blue {
  color: #f5f6fa;
  background-color: #045dcd;
}

.grey {
  background-color: #eff8fd;
}

.section__inner {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.section__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.about__skills--type1 {
  font-weight: 100;
}

.about__skills--type2 {
  font-weight: 100;
}

.about__column {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .about__skills--type1 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
  .about__skills--type1 .about__column--type1 {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__skills--type2 {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
  .about__skills--type2 .about__column--type2 {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.skills__icon {
  margin-bottom: 20px;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .skills__icon {
    height: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills__icon {
    height: 70px;
  }
}

.owl-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}

.team__all {
  margin: 0;
}

.team__member--image {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 1200px) {
  .team__member--image {
    padding: 60px;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .item {
    width: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .item {
    width: 400px;
  }
}

.pricing__bg {
  background-color: #daebf9;
  height: 200px;
  width: 100%;
  margin-top: 200px;
  position: absolute;
  z-index: 7;
}

.pricing__column {
  padding-left: 0;
  padding-right: 0;
}

.wrapper__inner {
  position: relative;
  z-index: 10;
  display: inline-block;
  background-color: white;
  height: 450px;
  width: 400px;
}

.wrapper__divider--horizontal {
  z-index: 15;
  background-color: #333333;
  height: 0.05vh;
  opacity: .5;
  width: 10vw;
  margin: 2vh auto;
}

.wrapper__divider--vertical {
  z-index: 15;
  background-color: #333333;
  height: 40vh;
  opacity: .5;
  width: 0.05vw;
  margin: 0 0;
}

@media (min-width: 1200px) {
  .pricing__wrapper {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .pricing__wrapper .pricing__column {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 1200px) {
  .section__main {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-right: 5.41667%;
  }

  .section__aside {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    padding-left: 5.41667%;
  }
}
.fa {
  margin-left: 50px;
}

@media (min-width: 1200px) {
  .article--left {
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    background-color: #f5f6fa;
  }

  .article--right {
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    background-color: #f5f6fa;
  }
}
.image1 {
  width: 100%;
}

.image2 {
  width: 100%;
}

.navigation {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  padding: 2em 1em;
  text-transform: capitalize;
  text-align: center;
  width: 95vw;
}

.navigation__item--logo {
  text-decoration: none;
  list-style: none;
  color: #f5f6fa;
}

.logo {
  margin-top: 2.5vh;
  margin-left: 3vw;
  z-index: 10;
  font-family: "Gotham-Bold";
  float: left;
  left: 3vw;
  color: #f5f6fa;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .logo {
    font-size: 48px;
    position: fixed;
  }
}
@media only screen and (min-width: 1200px) {
  .logo {
    font-size: 48px;
    position: absolute;
  }
}

.navigation__wrapper {
  top: 0;
  right: 0;
  float: right;
  transition: all 350ms ease-out;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .navigation__wrapper {
    position: fixed;
    width: 100vw;
    margin: 100px 0 0 0;
    background-color: #09182d;
  }
}
@media only screen and (min-width: 1200px) {
  .navigation__wrapper {
    position: absolute;
  }
}

.wrapper__list {
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 2px;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .wrapper__list {
    padding: 40vw;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper__list {
    padding: 2vw;
  }
}

.wrapper__list-item {
  float: left;
  display: block;
}

.wrapper__list-item:last-of-type a {
  border-radius: 20px;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .wrapper__list-item:last-of-type a {
    font-size: 36px;
    color: #f5a623;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper__list-item:last-of-type a {
    font-size: 14px;
    border: solid 1px white;
    padding: 10px;
  }
}
.wrapper__list-item:last-of-type a:hover {
  border: #f5a623 solid 1px;
  color: #f5a623;
}

.wrapper__link {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  padding: 1.5vh 0;
  color: #f5f6fa;
  text-decoration: none;
  margin-right: 1.5vw;
  font-family: "Gotham-Book";
  font-weight: 600;
  float: left;
  text-transform: uppercase;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .wrapper__link {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper__link {
    font-size: 16px;
  }
}
.wrapper__link:hover {
  border-bottom: #f5f6fa solid 1px;
  border-radius: 0;
}

.navigation__icon {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 1200px;
  padding: 70px 0 70px 1100px;
  background-color: #323d88;
}

.navigation__icon-elements {
  background: transparent;
  width: 45px;
  height: 45px;
}

#menu {
  position: relative;
}

#icon-element-1 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  transition: transform .3s;
}

#icon-element-2 {
  display: block;
  background: #fff;
  width: 40px;
  height: 4px;
  margin-top: 8px;
}

#icon-element-3 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  margin-top: 8px;
  transition: transform .3s;
}

.act {
  transform: rotate(225deg);
  position: relative;
  top: 25px;
  left: -15px;
}

.act2 {
  visibility: hidden;
}

.act3 {
  transform: rotate(-225deg);
  position: relative;
  top: 0;
  right: 15px;
}

@media screen and (max-width: 1200px) {
  .wrapper__list {
    display: none;
    padding-top: 38px;
  }

  .wrapper__list-item {
    float: none;
  }

  .navigation__icon {
    display: block;
  }

  .wrapper__list.responsive {
    display: block;
  }
}
.landing-page {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing-page__color--opacity {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: #000365;
  background-image: linear-gradient(#000365, #006ffc);
  opacity: 0.6;
}

.landing-page__video {
  top: 0;
  z-index: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .landing-page__video {
    height: 120vh;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-page__video {
    height: 60vw;
  }
}

.landing-page__video:after {
  content: "";
  display: block;
  width: 100%;
}

.landing-page__text {
  font-family: "Gotham-Book";
  font-weight: 100;
  position: absolute;
  z-index: 4;
  color: #f5f6fa;
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .landing-page__text--title {
    margin: 39vh 17vw;
    font-size: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-page__text--title {
    margin: 39vh 31vw;
    font-size: 72px;
  }
}

.landing-page__text--subtitle {
  opacity: .8;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .landing-page__text--subtitle {
    margin: 48vh 8vw;
    font-size: 42px;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-page__text--subtitle {
    margin: 55vh 27vw;
    font-size: 28px;
  }
}

.social-media__list {
  margin-top: 40px;
  margin-bottom: 100px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.social-media__list:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  .social-media__list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .social-media__list:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.social-media--list-item {
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 20px 0;
  cursor: pointer;
}
@media (min-width: 960px) {
  .social-media--list-item {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 3.33333%;
    padding-right: 3.33333%;
  }
}
@media (min-width: 1200px) {
  .social-media--list-item {
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
}
.social-media--list-item:hover {
  background-color: #54a0fe;
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .social-media__icon {
    width: 80px;
  }
}

.footer__data {
  margin-bottom: 100px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.footer__data:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  .footer__data {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__data:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.data {
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 20px 0;
  margin: 20px 0;
}
@media (min-width: 960px) {
  .data {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1200px) {
  .data {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

.footer__logo {
  margin-top: 80px;
  font-family: "Gotham-Bold";
  color: #54a0fe;
  cursor: pointer;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .footer__logo {
    font-size: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 48px;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .footer__text {
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__text {
    text-align: left;
  }
}

.footer__title {
  font-family: "Gotham-Bold";
  margin-bottom: 20px;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .footer__title {
    font-size: 56px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__title {
    font-size: 22px;
  }
}

.footer__text--small {
  opacity: 0.5;
  line-height: 1.2;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .footer__text--small {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__text--small {
    font-size: 16px;
  }
}

.footer__link {
  line-height: 1.8;
  cursor: pointer;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__newsletter {
  margin: 0 auto;
}

.footer__label {
  display: block;
  color: #e2e2e2;
  transition: all 0.5s;
  text-align: left;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .footer__label {
    font-size: 48px;
    transform: translateY(70px);
  }
}
@media only screen and (min-width: 1200px) {
  .footer__label {
    font-size: 16px;
    transform: translateY(25px);
  }
}

.footer__input {
  text-align: left;
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .footer__input {
    padding: 32px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__input {
    padding: 8px 0;
  }
}

.footer__container {
  padding: 30px 0 0 0;
  position: relative;
}

.footer__container:after, .footer__container:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.footer__container::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .footer__label {
  color: #8E8DBE;
}

.is-completed .footer__label {
  font-size: 12px;
  transform: translateY(0);
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .footer--send-icon {
    margin-left: 290px;
    width: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer--send-icon {
    margin-left: 90px;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .data--hidden {
    display: none;
  }
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.otf") format("opentype");
}
.section__title {
  font-family: "Gotham-Bold";
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .section__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .section__title {
    font-size: 64px;
  }
}

.section__subtitle {
  font-family: "Gotham-Book";
  opacity: .5;
  padding-bottom: 20px;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .section__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .section__subtitle {
    font-size: 24px;
  }
}

.skills__title {
  font-family: "Gotham-Book";
  font-weight: 100;
  color: #333333;
  width: 100%;
  line-height: 1.2;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .skills__title {
    font-size: 54px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills__title {
    font-size: 34px;
  }
}

.skills__description {
  font-family: "Gotham-Book";
  margin: 10px;
  line-height: 1.48;
  color: #8f8f8f;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .skills__description {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills__description {
    font-size: 16px;
  }
}

.pricing__title {
  font-family: "Gotham-Book";
  padding: 20px;
  color: #f5f6fa;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .pricing__title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .pricing__title {
    font-size: 64px;
  }
}

.pricing__subtitle {
  font-family: "Gotham-Book";
  padding-bottom: 20px;
  font-weight: 100;
  opacity: .8;
  color: #f5f6fa;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .pricing__subtitle {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .pricing__subtitle {
    font-size: 24px;
  }
}
.pricing__subtitle:after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper__text {
  margin-top: 50px;
  font-family: "Gotham-Book";
  color: #333333;
}

.wrapper__text--header {
  text-transform: uppercase;
}

.wrapper__text--subtitle {
  padding: 0 75px;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-size: 16px;
}

.wrapper__text--price {
  color: #045dcd;
  font-size: 40px;
  font-weight: 100;
}

.article__title {
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 50px;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .article__title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 1200px) {
  .article__title {
    font-size: 28px;
  }
}

.article__text {
  font-family: "Gotham-Book";
  font-weight: 100;
  color: #333333;
  width: 100%;
  line-height: 1.2;
  text-align: left;
}

.article__text--big {
  font-size: 20px;
  opacity: 0.5;
  padding-bottom: 30px;
}

.article__list {
  padding: 0;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .article__list {
    margin-top: 350px;
  }
}

.article__list-item {
  margin: 0;
  display: block;
  margin-top: 50px;
}

.item__title {
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #045dcd;
  font-weight: bold;
  cursor: pointer;
}
.item__title:hover {
  text-decoration: underline;
}

.item__description {
  opacity: 0.5;
  font-size: 14px;
}

.video__controls {
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  width: 40vh;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .video__controls {
    top: 130vw;
    left: 17vw;
  }
}
@media only screen and (min-width: 1200px) {
  .video__controls {
    top: 35vw;
    left: 40vw;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .video__controls--play {
    height: 2.5vh;
    padding-right: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .video__controls--play {
    padding-right: 14px;
  }
}

.video__controls--button, .article__button {
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  letter-spacing: 0.4vh;
  padding: 3vh 3.5vh;
  cursor: pointer;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .video__controls--button, .article__button {
    border-radius: 80px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .video__controls--button, .article__button {
    border-radius: 50px;
    font-size: 16px;
  }
}

.button--navy {
  border: none;
  background-color: #11294b;
  color: #f5f6fa;
}
.button--navy:hover {
  background-color: #09182d;
  transition: 0.2s;
}

.button--white {
  background-color: transparent;
  color: #045dcd;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .button--white {
    border: solid 4px #daebf9;
  }
}
@media only screen and (min-width: 1200px) {
  .button--white {
    border: solid 1px #daebf9;
  }
}
.button--white:hover {
  background-color: #daebf9;
  transition: 0.2s;
}

.button--position {
  position: relative;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .button--position {
    top: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .button--position {
    float: left;
    top: 50px;
  }
}

.landing-page__button--scroll {
  cursor: pointer;
  z-index: 10;
  top: 90vh;
  position: absolute;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .landing-page__button--scroll {
    height: 60px;
    left: 45vw;
  }
}
@media only screen and (min-width: 1200px) {
  .landing-page__button--scroll {
    height: 30px;
    left: 48vw;
  }
}
