$small:400px;
$medium: 700px;
$large:960px;
$desktop:1200px;

$susy: (
columns:12,
gutter: 1/4,
math:fluid,
output:float,
gutter-position:inside,
);

main{
  text-align: center;
  overflow: hidden;
}

.main__divider{
  z-index: 15;
  background-color: $blue-light;
  height: 0.8vh;
  width: 25vh;
  margin: 8vh auto;
}

.landing__bg{
  text-align:center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing__bg--opacity {
    top:0;
    left:0;
    right: 0;
    height:100vh;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: #000365;
    background-image: -webkit-linear-gradient(#000365, #006ffc);
    background-image: -o-linear-gradient(#000365, #006ffc);
    background-image: -moz-linear-gradient(#000365, #006ffc);
    background-image: linear-gradient(#000365, #006ffc);
    opacity: 0.6;
}

.landing__video {
  top:0;
  @include respond-to(small) { height:120vh; }
  @include respond-to(medium) { height:120vh; }
  @include respond-to(large) { height:120vh; }
  @include respond-to(desktop) {height:60vw; }
  z-index: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing__video:after {
  content: "";
  display: block;
  width: 100%;
}

.about{
  text-align: center;
  color:$body;
  @include container(80%);
}

.about__skills--type1{
  font-weight: 100;
}

.about__skills--type2{
  font-weight: 100;
}

.about__column{
  text-align: center;
  margin-bottom: 50px;
}

@include breakpoint ($desktop){
  @include layout(24);
  .about__skills--type1{
      @include span(24);
      .about__column--type1{
        @include span(8);
        @include pad(10px);
      }
      }
  .about__skills--type2{
      @include span(24);
      .about__column--type2{
        @include span(12);
        @include pad(100px);
      }
      }
  };

.skills__icon{
  @include respond-to(small) { height:150px; }
  @include respond-to(medium) { height:150px; }
  @include respond-to(large) { height:150px; }
  @include respond-to(desktop) {height:70px; }
  margin-bottom: 20px;
}

.team{
  text-align: center;
  @include container(80%);
}

.owl-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}

.team__all{
  margin:0;
}

.team__member--image{
  display: inline-block;
  vertical-align: top;
  @include respond-to(desktop) { padding:60px; }
}

.item{
  @include respond-to(small) { width: 340px;}
  @include respond-to(medium) { width: 340px;}
  @include respond-to(large) { width: 400px; }
  @include respond-to(desktop) { width: 400px; }
}

.pricing{
  text-align: center;
  background-color: $blue;
}

.pricing__bg{
  background-color: $blue-pricing;
  height: 200px;
  width: 100%;
  margin-top: 200px;
  position: absolute;;
  z-index: 7;
}
.pricing__wrapper {
}

.pricing__column{
  padding-left: 0;
  padding-right: 0;
}

.wrapper__inner {
  position: relative;
  z-index: 10;
  display: inline-block;
  background-color: white;
  height: 450px;
  width: 400px;
}

.wrapper__divider--horizontal{
  z-index: 15;
  background-color: $body;
  height: 0.05vh;
  opacity: .5;
  width: 10vw;
  margin: 2vh auto;
}

.wrapper__divider--vertical{
  z-index: 15;
  background-color: $body;
  height: 40vh;
  opacity: .5;
  width: 0.05vw;
  margin: 0 0;
}

@include breakpoint ($desktop){
  @include layout(12);
  .pricing__wrapper{
      @include span(12);
      .pricing__column{
        @include span(6 at 12 );
      }
      }
  };

.join-us {
  text-align: center;
  @include container(80%);
}

@include susy-breakpoint ($desktop, 24) {
.article__main {
  @include span(12);
  @include suffix(5%);
}
.article__aside{
  @include span(12) ;
  @include prefix(5%);
}
}

.fa{
  margin-left:50px;
}
