main{
  text-align: center;
  overflow: hidden;
}

.main__divider{
  z-index: 15;
  background-color: $blue-light;
  height: 0.8vh;
  width: 25vh;
  margin: 8vh auto;
}

.section{
  text-align: center;
  color:$body;
}

.blue{
  color:$white;
  background-color: $blue;
}

.grey{
  background-color: $blog-bg;
}

.section__inner{
  @include container(80%);
}

.about__skills--type1{
  font-weight: 100;
}

.about__skills--type2{
  font-weight: 100;
}

.about__column{
  text-align: center;
  margin-bottom: 50px;
}

@include breakpoint ($desktop){
  @include layout(24);
  .about__skills--type1{
      @include span(24);
      .about__column--type1{
        @include span(8 of 24);
        @include pad(10px);
      }
      }
  .about__skills--type2{
      @include span(24);
      .about__column--type2{
        @include span(12 of 24);
        @include pad(100px);
      }
      }
  };

.skills__icon{
  @include respond-to(iphone6) { height:150px; }
  @include respond-to(desktop) {height:70px; }
  margin-bottom: 20px;
}

.owl-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}

.team__all{
  margin:0;
}

.team__member--image{
  display: inline-block;
  vertical-align: top;
  @include respond-to(desktop) { padding:60px; }
}

.item{
  @include respond-to(iphone6) { width: 400px; }
  @include respond-to(desktop) { width: 400px; }
}

.pricing__bg{
  background-color: $blue-pricing;
  height: 200px;
  width: 100%;
  margin-top: 200px;
  position: absolute;;
  z-index: 7;
}
.pricing__wrapper {
}

.pricing__column{
  padding-left: 0;
  padding-right: 0;
}

.wrapper__inner {
  position: relative;
  z-index: 10;
  display: inline-block;
  background-color: white;
  height: 450px;
  width: 400px;
}

.wrapper__divider--horizontal{
  z-index: 15;
  background-color: $body;
  height: 0.05vh;
  opacity: .5;
  width: 10vw;
  margin: 2vh auto;
}

.wrapper__divider--vertical{
  z-index: 15;
  background-color: $body;
  height: 40vh;
  opacity: .5;
  width: 0.05vw;
  margin: 0 0;
}

@include breakpoint ($desktop){
  @include layout(12);
  .pricing__wrapper{
      @include span(12);
      .pricing__column{
        @include span(6 at 12 );
      }
      }
  };

@include susy-breakpoint ($desktop, 24) {
.section__main {
  @include span(12);
  @include suffix(5%);
}
.section__aside{
  @include span(12) ;
  @include prefix(5%);
}
}

.fa{
  margin-left:50px;
}

@include susy-breakpoint ($desktop, 24) {
.article--left {
  @include span(14);

  background-color: $white;
}
.article--right{
  @include span(10) ;

  background-color: $white;
}
}

.image1{
  width:100%;
}

.image2{
  width:100%;
}
