$desktop:1200px;
$iphone6:960px;

$susy: (
columns:12,
gutter: 1/4,
math:fluid,
output:float,
gutter-position:inside,
);

main{
  text-align: center;
  overflow: hidden;
}

.main__divider{
  z-index: 15;
  background-color: $blue-light;
  @include respond-to(iphone6) { height: 10px; width: 200px; margin: 50px auto; }
  @include respond-to(desktop) { height:5px; width: 150px; margin: 50px auto;  }
}

//Sections /////////////////////////////
.section{
  overflow: hidden;
  text-align: center;
  color:$body;
}

.section--blue{
  padding-top:30px;
  background-color: $blue;
}

.secion--grey{
  background-color: $blog-bg;
}

.section__inner--about,.section__inner--careers {
  @include container(80%);
}

.section__inner--blog{
  @include container(90%);
}

.section__inner--pricing{
  @include respond-to(iphone6) { @include container(90%); }
  @include respond-to(desktop) {@include container(65%); }
}

.section__inner--team{
  @include respond-to(iphone6) { @include container(100%); }
  @include respond-to(desktop) {@include container(65%); }
}
//Section about /////////////////////////////
.about__skills--wide{
  font-weight: 100;
}

.about__skills--narrow{
  font-weight: 100;
}

.about__column{
  text-align: center;
  margin-bottom: 50px;
}

@include breakpoint ($desktop){
  @include layout(24);
  .about__skills--wide{
      @include span(24);
      .about__column--wide{
        @include span(8 of 24);
        @include pad(10px);
      }
      }
  .about__skills--narrow{
      @include span(24);
      .about__column--narrow{
        @include span(12 of 24);
        @include pad(200px);
      }
      .about__column--left{
        @include suffix(30px);
      }
      .about__column--right{
        @include prefix(30px);
      }
      }
  };

.skills__icon{
  @include respond-to(iphone6) { height:150px; }
  @include respond-to(desktop) {height:70px; }
  margin-top:50px;
  margin-bottom: 20px;
}
//Section team /////////////////////////////
.owl-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}

.team__all{
  margin:0;
}

.team__member--image{
  display: inline-block;
  vertical-align: top;
  @include respond-to(desktop) { padding:20px; }
}

.item{
  @include respond-to(iphone6) { width: 400px; }
  @include respond-to(desktop) { width: 300px; }
}
//Section pricing /////////////////////////////
.pricing__bg{
  background-color: $blue-pricing;
  height: 200px;
  width: 100%;
  margin-top: 200px;
  position: absolute;;
  z-index: 7;
}
.pricing__wrapper {
  background-color: $white;
}

.wrapper__inner {
  position: relative;
  z-index: 10;
  background-color: transparent;;
  @include respond-to(iphone6) { padding:100px 0; margin: 0 80px; }
  @include respond-to(desktop) { margin:40px 0; }
}

.pricing__inner--right{
  @include respond-to(iphone6) { border-top: 2px solid $grey-light;}
  @include respond-to(desktop) { border-left: 1px solid $grey-light;}
}

.wrapper__divider--horizontal{
  z-index: 15;
  background-color: $grey-light;
  height: 0.05vh;
  width: 10vw;
  margin: 2vh auto;
}

@include breakpoint ($desktop){
  @include layout(12);
  .pricing__wrapper{
      @include span(12);
      .wrapper__inner{
        @include span(6 at 12 );
      }
      }
  };

//Section careers /////////////////////////////
@include susy-breakpoint ($desktop, 24) {
.section__main {
  @include span(12);
  @include suffix(5%);
}
.section__aside{
  @include span(12) ;
  @include prefix(5%);
}
}

.fa{
  margin-left:50px;
}

//Section blog /////////////////////////////
@include susy-breakpoint ($desktop, 24) {
.article--left {
  @include span(14);
  height: 500px;
  background-color: white;
}
.article--right{
  @include span(10) ;
  height: 500px;
  background-color: white;
}
}

.article__image--left{
  background-image: url('../img/picture1.jpg');
  width: 350px;
  height: 400px;
  background-position: left;
  background-size: cover;
}

.article__image--right{
  background-image: url('../img/picture2.jpg');
  width: 470px;
  height: 220px;
  background-position: center;
  background-size: cover;
}

.article__description--left{
  float:left;
  background-color: white;
}

.article__description--right{
  float:left;
  background-color: white;
}
