main{
  text-align: center;
  overflow: hidden;
}

.main__divider{
  z-index: 15;
  background-color: $blue-light;
  height: 0.8vh;
  width: 25vh;
  margin: 8vh auto;
}

.landing__bg{
  text-align:center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing__video {
  top:0;
  @include respond-to(handhelds) { height: 80vh ;}
  @include respond-to(medium-screens) { height: 120vh ; }
  @include respond-to(wide-screens) { height: 120vh ; }
  z-index: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing__video:after {
  content: "";
  display: block;
  width: 100%;
}

.about{
  text-align: center;
  color:$body;
  @include container(80%);
}

.about__skills--type1{
  font-weight: 100;
}

.about__skills--type2{
  font-weight: 100;
}

.about__column--type1{
 	text-align: center;
}

.about__column--type2{
 	text-align: center;
}

.skills__icon{
  margin-bottom: 20px;
}

.team{
  text-align: center;
}

.owl-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}

.team__all{
  margin:0;
}

.team__member{
  display: inline-block;
  vertical-align: top;
 	width: 25%;
 	text-align: center;
}

.item{
  @include respond-to(handhelds) { width: 340px;}
  @include respond-to(medium-screens) { width: 340px;}
  @include respond-to(wide-screens) { width: 400px; }
}

.pricing{
  text-align: center;
  background-color: $blue;
  height: 400px;
}

.pricing__wrapper {
  z-index: 5;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 3em;
}
.pricing__wrapper--column{
  width: 40%;
  display: inline-block;
}

.wrapper__inner {
  z-index: 10;
  display: inline-block;
  width: 102%;
  height: 500px;
  background-color: white;
  box-shadow: 10px -10px 10px 10px rgba(68,68,68,0.1);
}
