$desktop:1200px;
$iphone6:960px;

$susy: (
columns:12,
gutter: 1/4,
math:fluid,
output:float,
gutter-position:inside,
);

@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;
};

@mixin respond-to($media) {
  @if $media ==  iphone6 {
		@media only screen and (min-width: 960px) and (max-width: 1200px) { @content; }
	}
  @else if $media == desktop {
    @media only screen and (min-width: 1200px) { @content; }
  }
};
