$desktop:1200px;
$iphone6:960px;

$susy: (
columns:12,
gutter: 1/4,
math:fluid,
output:float,
gutter-position:inside,
);

@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;
};

@mixin gradient($from, $to) {
  background: $from;
	background: -moz-linear-gradient(top,  $to 0%, $from 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$to), color-stop(100%,$from));
	background: -webkit-linear-gradient(top,  $to 0%, $from 100%);
	background: -o-linear-gradient(top,  $to 0%, $from 100%);
	background: -ms-linear-gradient(top,  $to 0%, $from 100%);
	background: linear-gradient(to bottom,  $to 0%, $from 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$to', endColorstr='$from',GradientType=0 );
}


@mixin respond-to($media) {
  @if $media ==  iphone6 {
		@media only screen and (min-width: 960px) and (max-width: 1200px) { @content; }
	}
  @else if $media == desktop {
    @media only screen and (min-width: 1200px) { @content; }
  }
};
