.video__controls{
  z-index: 10;
  position: absolute;
  margin:0 auto;
  width:40vh;
  @include respond-to(iphone6) { top:130vw; left:17vw; }
  @include respond-to(desktop) { top:35vw; left:40vw; }
}

.video__controls--play{
  @include respond-to(iphone6) { height:2.5vh; padding-right: 14px; }
  @include respond-to(desktop) { padding-right: 14px; }
}

.video__controls--button, .article__button{
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  letter-spacing: 0.4vh;
  padding: 3vh 3.5vh;
  @include respond-to(iphone6) { border-radius: 80px; font-size: 14px;}
  @include respond-to(desktop) { border-radius: 50px; font-size: 16px; }
  cursor: pointer;
}

.button--navy{
  border: none;
  background-color: $navy;
  color: $white;
  &:hover{
    background-color: $navy-dark;
    transition: 0.2s;
  }
}

.button--white{
  @include respond-to(iphone6) { border: solid 4px $blue-pricing; }
  @include respond-to(desktop) { border: solid 1px $blue-pricing; }
  background-color: transparent;
  color: $blue;
  &:hover{
    background-color: $blue-pricing;
    transition: 0.2s;
  }
}

.button--position{
  position: relative;
  @include respond-to(iphone6) { top:150px; };
  @include respond-to(desktop) { float: left;top:50px; };
}

.landing-page__button--scroll{
  @include respond-to(iphone6) { height: 60px;left:45vw; }
  @include respond-to(desktop) { height: 30px;left:48vw; }
  cursor: pointer;
  z-index: 10;
  top:90vh;
  position: absolute;
  background-color: transparent;
  border: none;
}
