.video__controls{
  z-index: 10;
  position: absolute;
  margin:0 auto;
  width:40vh;
  @include respond-to(small) { top:130vw; left:14vw; }
  @include respond-to(medium) { top:130vw; left:14vw; }
  @include respond-to(large) { top:130vw; left:14vw; }
  @include respond-to(desktop) { top:35vw; left:39.5vw; }
}

.video__controls--button{
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  font-size: 2.5vh;
  letter-spacing: 0.4vh;
  padding: 3vh;
  @include respond-to(small) { border-radius: 80px;}
  @include respond-to(medium) { border-radius: 80px; }
  @include respond-to(large) { border-radius: 80px; }
  @include respond-to(desktop) { border-radius: 50px; }
  border: none;
  background-color: $navy;
  color: $white;
  cursor: pointer;
  &:hover{
    background-color: $navy-dark;
    transition: 0.2s;
    border: 1px solid $white;
  }
}

.video__controls--play{
  @include respond-to(small) { height:2.5vh; padding-right: 14px;}
  @include respond-to(medium) { height:2.5vh; padding-right: 14px;}
  @include respond-to(large) { height:2.5vh; padding-right: 14px; }
  @include respond-to(desktop) { padding-right: 14px; }
}

/*
.video__controls--button::before {
    content: url('img/icons/play_icon.svg');
}  */

#button__scrolly{
  @include respond-to(small) { left:44vw;}
  @include respond-to(medium) { left:44vw; }
  @include respond-to(large) { left:44vw; }
  @include respond-to(desktop) { left:47.5vw; }
  cursor: pointer;
  z-index: 10;
  top:88vh;
  position: absolute;
  background-color: transparent;
  border: none;
}
.landing__bg--scroll{
  @include respond-to(small) { height:100px;}
  @include respond-to(medium) { height: 100px; }
  @include respond-to(large) { height: 100px; }
  @include respond-to(desktop) { height: 50px; }
}
