$small:400px;
$medium: 700px;
$large:960px;
$desktop:1200px;

$susy: (
columns:12,
gutter: 1/4,
math:fluid,
output:float,
gutter-position:inside,
);

@include breakpoint ($desktop){
  @include layout(24);
  .about__skills--type1{
      @include span(24);
      .about__column--type1{
        @include span(8);
        @include pad(10px);
      }
      }
  .about__skills--type2{
      @include span(24);
      .about__column--type2{
        @include span(12);
        @include pad(100px);
      }
      }
  };

  @include breakpoint ($desktop){
    @include layout(12);
    .pricing__wrapper{
        @include span(12);
        .pricing__column{
          @include span(6 at 12 );
        }
        }
    };
