@font-face{
font-family: "Gotham-Bold";
src: url('../fonts/Gotham-Bold.otf') format('opentype');
};

@font-face{
font-family: "Gotham-Book";
src: url('../fonts/Gotham-Book.otf') format('opentype');
};

@font-face{
font-family: "Gotham-Black";
src: url('../fonts/Gotham-Black.otf') format('opentype');
};

.landing__text  {
  font-family: "Gotham-Book";
  font-weight: 100;
  position: absolute;
  z-index: 4;
  color: $white;
}

.landing__text--title{
  @include respond-to(small) { margin: 39vh 17vw ;font-size: 100px ;}
  @include respond-to(medium) { margin: 39vh 17vw ;font-size: 100px ; }
  @include respond-to(large) { margin: 39vh 17vw ;font-size: 100px ; }
  @include respond-to(desktop) { margin: 39vh 31vw ;font-size: 72px ; }
}

.landing__text--subtitle{
  @include respond-to(small) { margin: 48vh 8vw ;font-size: 42px ;}
  @include respond-to(medium) { margin: 48vh 8vw ;font-size: 42px ; }
  @include respond-to(large) { margin: 55vh 27vw ;font-size: 42px ;  }
  @include respond-to(desktop) { margin: 55vh 27vw ;font-size: 28px ;  }
  opacity:.8;
}

.about__title, .team__title, .join-us__title{
  font-family: "Gotham-Bold";
  @include respond-to(small) { font-size: 90px ;}
  @include respond-to(medium) { font-size: 90px ; }
  @include respond-to(large) { font-size: 90px ; }
  @include respond-to(desktop) { font-size: 64px ; }
}

.about__subtitle, .team__subtitle, .join-us__subtitle {
  @include respond-to(small) { font-size: 36px ;}
  @include respond-to(medium) { font-size: 36px ; }
  @include respond-to(large) { font-size: 36px ;  }
  @include respond-to(desktop) { font-size: 24px ;  }
  font-family: "Gotham-Book";
  opacity:.7;
  padding-bottom: 20px;
}

.skills__title{
  @include respond-to(small) { font-size: 54px; }
  @include respond-to(medium) { font-size: 54px; }
  @include respond-to(large) {font-size: 54px; }
  @include respond-to(desktop) {font-size: 34px; }
  font-family: "Gotham-Book";
  font-weight: 100;
  color:$body;
  width: 100%;
  line-height: 1.2;
}

.skills__description{
  @include respond-to(small) { font-size: 14px; }
  @include respond-to(medium) { font-size: 14px; }
  @include respond-to(large) {font-size: 14px; }
  @include respond-to(desktop) {font-size: 16px; }
  font-family: "Gotham-Book";
  margin: 10px;
  line-height: 1.48;
  color: $description;
}


.pricing__title{
  @include respond-to(small) { font-size: 90px ;}
  @include respond-to(medium) { font-size: 90px ; }
  @include respond-to(large) { font-size: 90px ; }
  @include respond-to(desktop) { font-size: 64px ; }
  font-family: "Gotham-Book";
  padding: 20px;
  color: $white;
}

.pricing__subtitle{
  @include respond-to(small) { font-size: 36px ;}
  @include respond-to(medium) { font-size: 36px ; }
  @include respond-to(large) { font-size: 36px ;  }
  @include respond-to(desktop) { font-size: 24px ;  }
  font-family: "Gotham-Book";
  padding-bottom: 20px;
  font-weight: 100;
  opacity:.8;
  color: $white;
  @include container(80%);
}

.wrapper__text  {
  margin-top: 50px;
  font-family: "Gotham-Book";
  color: $body;

}
.wrapper__text--header {
  text-transform: uppercase;
}

.wrapper__text--subtitle {
  padding: 0 75px;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-size: 16px;
}

.wrapper__text--price{
  color: $blue;
  font-size: 40px;
  font-weight: 100;
}
