@font-face{
font-family: "Gotham-Bold";
src: url('../fonts/Gotham-Bold.otf') format('opentype');
};

@font-face{
font-family: "Gotham-Book";
src: url('../fonts/Gotham-Book.otf') format('opentype');
};

@font-face{
font-family: "Gotham-Black";
src: url('../fonts/Gotham-Black.otf') format('opentype');
};

//Sections- titles and subtitles/////////////////////////////
.section__title{
  font-family: "Gotham-Bold";
  @include respond-to(iphone6) { font-size: 90px ; }
  @include respond-to(desktop) { font-size: 64px ; }
}

.section__title--black{
  color:$body;
}

.section__title--white{
  color:$white;
}

.section__subtitle{
  font-family: "Gotham-Book";
  @include respond-to(iphone6) { font-size: 36px ; }
  @include respond-to(desktop) { font-size: 24px ; }
  opacity:.5;
  padding-bottom: 20px;
  font-weight:100;
}

.section__subtitle--black {
  color:$body;
}

.section__subtitle--white {
  color:$white;
}

//Section about- content /////////////////////////////

.skills__title{
  @include respond-to(iphone6) {font-size: 64px; }
  @include respond-to(desktop) {font-size: 32px; }
  font-family: "Gotham-Book";
  font-weight: 100;
  color:$body;
  width: 100%;
  line-height: 1.2;
}

.skills__description{
  @include respond-to(iphone6) {font-size: 14px; }
  @include respond-to(desktop) {font-size: 14px; }
  font-family: "Gotham-Book";
  margin: 10px;
  line-height: 1.48;
  color: $description;
}

//Section pricing- content /////////////////////////////
.wrapper__text  {
  @include respond-to(iphone6) { margin-top: 80px; }
  @include respond-to(desktop) { margin-top: 40px; }
  font-family: "Gotham-Book";
  color: $body;

}
.wrapper__header {
  @include respond-to(iphone6) { font-size: 48px; }
  @include respond-to(desktop) { font-size: 22px;  }
  text-transform: uppercase;
  font-weight: 100;
}

.wrapper__subtitle {
  @include respond-to(iphone6) { padding: 0; }
  @include respond-to(desktop) { padding: 0 75px;  }
  text-transform: capitalize;
  margin-bottom: 40px;
  @include respond-to(iphone6) { font-size: 28px; }
  @include respond-to(desktop) { font-size: 16px;  }
  opacity: 0.5;
}

.wrapper__price{
  color: $blue;
  @include respond-to(iphone6) { font-size: 64px;  }
  @include respond-to(desktop) { font-size: 40px;  }
  font-weight: 100;
}

//Section join-us- content /////////////////////////////
.article__title{
  @include respond-to(iphone6) {font-size: 42px; text-align: center;}
  @include respond-to(desktop) {font-size: 28px; text-align: left; }
  text-transform:capitalize;
  margin-bottom:20px;
  margin-top: 50px;
}

.article__text{
  font-family: "Gotham-Book";
  font-weight: 100;
  color:$body;
  width: 100%;
  line-height: 1.2;
}

.article__text--big{
  font-size: 20px;
  opacity: 0.5;
  padding-bottom: 30px;
  @include respond-to(iphone6) {text-align: center; }
  @include respond-to(desktop) {text-align: left;}
}

.article__list{
  padding: 0;
  @include respond-to(iphone6) { margin-top:350px; };
}

.article__list-item{
  margin:0;
  display: block;
  margin-top:50px;
}

.item__title{
  @include respond-to(iphone6) {text-align: left; }
  @include respond-to(desktop) {text-align: left;}
  margin-bottom:30px;
  font-size: 20px;
  text-transform: uppercase;
  color:$blue;
  font-weight: bold;
  cursor: pointer;
  &:hover{
  text-decoration:underline;
}
}
.item__description{
  opacity: 0.5;
  font-size: 14px;
  @include respond-to(iphone6) {text-align: left; }
  @include respond-to(desktop) {text-align: left;}
}

//Section blog /////////////////////////////
.article--blog-title{
  text-align: left;
  font-family: "Gotham-Book";
  font-weight: 800;

}

.article--blog-tips{
  font-family: "Gotham-Book";
  text-align: left;
}
