.navigation {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  padding: 2em 1em;
  text-transform: capitalize;
  text-align: center;
  width: 95vw;
}

.navigation__item--logo {
  text-decoration: none;
  list-style: none;
  color: $white;
}

.logo {
  margin-top:2.5vh;
  margin-left: 3vw;
  z-index: 10;
  font-family: "Gotham-Bold";
  @include respond-to(iphone6) { font-size: 48px;position: fixed;}
  @include respond-to(desktop) { font-size: 48px;position: absolute;}
  float: left;
  left: 3vw;
  color: $white;
}

.navigation__wrapper {
  @include respond-to(iphone6) { position: fixed;width: 100vw;
  margin: 100px 0 0 0;background-color: $navy-dark;}
  @include respond-to(desktop) { position: absolute; }
  top:0;
  right:0;
  float: right;
  transition: all 350ms ease-out;
}

.wrapper__list {
  @include respond-to(iphone6) { padding: 40vw; }
  @include respond-to(desktop) { padding: 2vw; }
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.wrapper__list-item {
  float: left;
  display: block;
}

.wrapper__list-item:last-of-type a {
  @include respond-to(iphone6) { font-size: 36px; color:$yellow; }
  @include respond-to(desktop) { font-size: 14px;border: solid 1px white;padding: 10px; }
  border-radius: 20px;
  &:hover{
    border: $yellow solid 1px;
    color:$yellow;
  }
}

.wrapper__link {
  text-align: center;
  display: inline-block;
  margin-top:50px;
  padding: 1.5vh 0;
  color: $white;
  text-decoration: none;
  margin-right: 1.5vw;
  font-family: "Gotham-Book";
  font-weight: 600;
  @include respond-to(iphone6) { font-size: 36px; }
  @include respond-to(desktop) { font-size: 16px; }
  float: left;
  text-transform:uppercase;
  &:hover{
    border-bottom: $white solid 1px;
    border-radius: 0;
  }
}

.navigation__icon {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 1200px;
  padding:70px 0 70px 1100px;
  background-color: $nav;
}

.navigation__icon-elements {
  background: transparent;
  width: 45px;
  height: 45px;
}

#menu {
  position: relative;
}

#icon-element-1 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  transition: transform .3s;
}

#icon-element-2 {
  display: block;
  background: #fff;
  width: 40px;
  height: 4px;
  margin-top: 8px;
}

#icon-element-3 {
  display: block;
  background: #fff;
  width: 60px;
  height: 4px;
  margin-top: 8px;
  transition: transform .3s;
}

.act {
  transform: rotate(225deg);
  position: relative;
  top: 25px;
  left: -15px;
}

.act2{
  visibility: hidden;
}

.act3 {
  transform: rotate(-225deg);
  position: relative;
  top: 0;
  right: 15px;
}

@media screen and (max-width: 1200px) {
  .wrapper__list {
    display: none;
    padding-top: 38px;
  }

  .wrapper__list-item {
    float: none;
  }

  .navigation__icon {
    display: block;
  }

  .wrapper__list.responsive {
    display: block;
  }
}
