main{
  text-align: center;
}

.main__divider{
  background-color: $blue-light;
  height: 0.8vh;
  width: 25vh;
  margin: 8vh auto;
}

.landing__bg{
  text-align:center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.landing__title{
  @include respond-to(handhelds) { margin: 39vh 17vw ;}
  @include respond-to(medium-screens) { margin: 39vh 17vw ; }
  @include respond-to(wide-screens) { margin: 39vh 29.5vw ; }
  @include respond-to(handhelds) { font-size: 100px ;}
  @include respond-to(medium-screens) { font-size: 100px ; }
  @include respond-to(wide-screens) { font-size: 72px ; }
  font-family: "Gotham-Book";
  font-weight: 100;
  position: absolute;
  z-index: 4;
  color: $white;
}

.landing__subtitle{
  @include respond-to(handhelds) { margin: 48vh 8vw ;}
  @include respond-to(medium-screens) { margin: 48vh 8vw ; }
  @include respond-to(wide-screens) { margin: 55vh 27vw ; }
  @include respond-to(handhelds) { font-size: 42px ;}
  @include respond-to(medium-screens) { font-size: 42px ; }
  @include respond-to(wide-screens) { font-size: 28px ; }
  font-family: "Gotham-Book";
  font-weight: 100;
  position: absolute;
  z-index: 4;
  color: $white;
  opacity:.8;
}

.landing__video {
  top:0;
  @include respond-to(handhelds) { height: 80vh ;}
  @include respond-to(medium-screens) { height: 120vh ; }
  @include respond-to(wide-screens) { height: 120vh ; }
  z-index: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing__video:after {
  content: "";
  display: block;
  width: 100%;
}

.about{
  text-align: center;
  color:$body;
}
.about__title{
  font-family: "Gotham-Bold";
  font-size: 64px;
}

.about__subtitle{
  font-family: "Gotham-Book";
  opacity:.45;
  font-size: 24px;
  padding-bottom: 20px;
}

.about__skills--type1{
  width: 90%;
  margin:0 auto;
  font-weight: 100;
}

.about__skills--type2{
  width: 90%;
  margin:0 auto;
  font-weight: 100;
}

.about__column--type1{
  display: inline-block;
  vertical-align: top;
 	text-align: center;
  padding: 7px 7px;
  margin:20px 0;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 100% ; }
  @include respond-to(wide-screens) { width: 30% ; }
}

.about__column--type2{
  display: inline-block;
  vertical-align: top;
 	text-align: center;
  padding: 7px 7px;
  margin:20px 20px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 100% ; }
  @include respond-to(wide-screens) { width: 30% ; }
}

.skills__icon{
  margin-bottom: 20px;
}

.skills__title{
  font-family: "Gotham-Book";
  font-weight: 100;
  color:$body;
  font-size: 28px;
  width: 100%;
  line-height: 1.2;
}

.skills__description{
  font-family: "Gotham-Book";
  font-size: 15px;
  width: 100%;
  margin: 10px;
  line-height: 1.48;
  color: $description;
}

.team{
  text-align: center;
}
.team__title{
  padding: 20px;
}

.team__subtitle{
  padding-bottom: 20px;
}

.team__all{
  width: 90%;
  margin-left: 50px;
  margin-right: 50px;
}

.team__member{
  display: inline-block;
  vertical-align: top;
 	width: 25%;
 	text-align: center;
}

.team__member--image{
  width: 100%;
}

.pricing{
  text-align: center;
  background-color: $blue;
  height: 400px;
}
.pricing__title{
  color: $white;
  padding: 20px;
}

.pricing__subtitle{
  color: $white;
  padding-bottom: 20px;
}

.pricing__wrapper {
  z-index: 5;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 3em;
}
.pricing__wrapper--column{
  width: 25%;
  display: inline-block;
}

.wrapper__header {
}

.wrapper__inner {
  display: inline-block;
  width: 102%;
  height: 30em;
  background-color: white;
}
