$grey: #4d4d4d;
$white: #f5f6fa;
$black: #000;
$navy: #11294b;


.landing__video {
    z-index: 3;
    background: #000365;
    background: -webkit-linear-gradient(#000365, #006ffc);
    background: -o-linear-gradient(#000365, #006ffc);
    background: -moz-linear-gradient(#000365, #006ffc);
    background: linear-gradient(#000365, #006ffc);
}
