.video__controls{
  z-index: 10;
  position: absolute;
  margin:0 auto;
  width:40vh;
  @include respond-to(handhelds) { top:130vw;}
  @include respond-to(medium-screens) { top:130vw; }
  @include respond-to(wide-screens) { top:35vw; }
  @include respond-to(handhelds) { left:14vw;}
  @include respond-to(medium-screens) { left:14vw; }
  @include respond-to(wide-screens) { left:39.5vw; }
}

.video__controls--button{
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  font-size: 2.5vh;
  letter-spacing: 0.4vh;
  padding: 3vh;
  @include respond-to(handhelds) { border-radius: 80px;}
  @include respond-to(medium-screens) { border-radius: 80px; }
  @include respond-to(wide-screens) { border-radius: 50px; }
  border: none;
  background-color: $navy;
  color: $white;
  cursor: pointer;
  &:hover{
    background-color: $navy-dark;
    transition: 0.2s;
    border: 1px solid $white;
  }
}

.video__controls--play{
  padding-right: 14px;
}

/*
.video__controls--button::before {
    content: url('img/icons/play_icon.svg');
}  */

#button__scrolly{
  @include respond-to(handhelds) { left:44vw;}
  @include respond-to(medium-screens) { left:44vw; }
  @include respond-to(wide-screens) { left:47vw; }
  cursor: pointer;
  z-index: 10;
  top:100vh;
  position: absolute;
  background-color: transparent;
  border: none;
}
.landing__bg--scroll{
  @include respond-to(handhelds) { height:100px;}
  @include respond-to(medium-screens) { height: 100px; }
  @include respond-to(wide-screens) { height: 50px; }
}
