.video__controls{
  z-index: 10;
  position: absolute;
  top:22vw;
  margin:0 auto;
  width:31vh;
}

.video__controls--button{
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  font-size: 2.2vh;
  letter-spacing: 0.4vh;
  padding: 2vh;
  border-radius: 50px;
  border: none;
  background-color: $navy;
  color: $white;
  cursor: pointer;
  &:hover{
    background-color: $navy-dark;
    transition: 0.2s;
    border: 1px solid $white;
  }
}

.video__controls--play{
  padding-right: 14px;
}

/*
.video__controls--button::before {
    content: url('img/icons/play_icon.svg');
}  */
